<% provide(:title, "O que é o quê?") %>
<h1>O que é o quê?</h1>
<p>
<h2>Capítulo Estudantil EMBS-UnB</h2>
<br>
Somos um grupo com três eixos e tal. Nam condimentum iaculis dui, sed fermentum erat feugiat in. Quisque felis nisl, molestie nec lobortis non, faucibus ac nisi. In in vehicula lectus, efficitur placerat lectus. Suspendisse in posuere risus. Curabitur vulputate, nisl laoreet rutrum efficitur, nunc ligula rutrum nunc, non consectetur mauris ex in metus. Sed id nunc eros. Nunc fermentum enim sed purus aliquam gravida. Aenean mollis libero sit amet quam accumsan, nec lobortis nulla consectetur. Curabitur tristique nunc erat. Aliquam dignissim sapien neque, non eleifend enim porttitor a.<br>
<br>
Maecenas facilisis eros dolor. Vestibulum ultrices tempus accumsan. Suspendisse et dolor nec dui porttitor viverra. Fusce condimentum fermentum pulvinar. Quisque ultrices massa nec leo egestas interdum. Proin euismod consequat nisl, mattis scelerisque sapien elementum sed. Donec eget sem a leo condimentum dignissim eget quis augue. Nulla sit amet arcu convallis, volutpat lectus in, finibus odio.<br>
<br>
<h2>EMBS – Engineering in Medicine and Biology Society</h2>
<br>
O IEEE tem várias sociedades temáticas, a EMBS é uma delas etc. Praesent tempus sem augue, ac posuere neque interdum sed. Pellentesque varius ligula nec malesuada vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris tristique ante viverra, sollicitudin magna a, suscipit enim. In tempus ex eu enim pulvinar, eu tristique felis venenatis. Nulla imperdiet fringilla lorem ut vehicula. Morbi et semper turpis. Sed ornare sed ipsum a sodales. Donec a pellentesque odio, ut aliquam turpis. Ut mollis facilisis lectus, ac dignissim ante euismod nec. Aliquam lacinia nisi vitae molestie iaculis. Donec maximus tempor orci non consequat. Proin tincidunt iaculis malesuada. Sed vitae nisi hendrerit, fermentum lectus ut, placerat lorem. Cras dignissim tellus justo, eget venenatis ligula tempor vel. Curabitur euismod turpis eu egestas venenatis.<br>
<br>
<h2>IEEE – Institute of Electrical and Electronics Engineers Society</h2>
<br>
O IEEE é um dos maiores institutos e tal. Padrões, artigos, conferências, etc. Inclusive Capítulos Estudantis. Ut ultrices, quam eu tempor dictum, dolor odio fermentum neque, sed tristique odio nisi vel lorem. Fusce venenatis eget quam ut maximus. Donec non lacus ut augue gravida imperdiet. Nunc in eros ligula. Maecenas posuere venenatis vehicula. Aliquam at odio laoreet, commodo felis non, tincidunt nunc. Mauris suscipit metus lorem, in consectetur leo eleifend a.<br>
<br>
Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus quis ex nunc. Sed eu ipsum tortor. Proin id sapien odio. In hac habitasse platea dictumst. Quisque viverra sodales felis ac consequat. Etiam ornare urna vitae euismod euismod. Aenean suscipit feugiat ligula non bibendum. Quisque tempor nisi a tellus mollis, sit amet luctus arcu molestie. Morbi quis eros tempus, hendrerit lorem id, convallis diam. Sed a tincidunt velit. Nullam pellentesque, neque eget rhoncus pellentesque, sem metus imperdiet nisi, ac placerat urna erat id eros.
</p>