<% provide(:title, "Cadê vocês?") %>
<h1>Cadê vocês?</h1>
<p>
Estamos no LARA - Laboratório de Automação e Robótica, Serviços Gerais - 11, Campus Universitário Darcy Ribeiro. <!-- Este não é o endereço fixo! --><br>
Email: <a href = mailto: embsunb@gmail.com>embsunb@gmail.com</a> <!-- senses@ieee.org? --> <br>
Facebook: <a href=fb.com/embsunb>fb.com/embsunb</a> <br>
</p>
