<h1>E quem é quem?</h1>
<br>
<h2>Brandon Dias</h2>
<h3>Presidente</h3>
Humanas. Exatas. Biológicas. Talvez separá-las possa ser bom para aperfeiçoamento de conhecimento puro. Mas, para a solução dos grandes problemas, apenas o esforço de todo conhecimento de todas as áreas é realmente eficaz.
Esse é o pensamento que norteou meu caminho até a Mecatrônica. Essa é a referência que sigo dentro dos conceitos da Engenharia Biomédica: a tecnologia serve ao humano, ao ser, a sua própria evolução.<br>
<br>
<h2>Marina Craveiro</h2>
<h3>Vice-Presidente</h3>
Com grandes exemplos de médicos e engenheiros dentro de casa, a paixão pela biomédica era inevitável. Hoje, cursando engenharia elétrica, acredita que próteses mais acessíveis e inteligentes são o caminho para uma sociedade melhor.<br>
Sonha em promover qualidade de vida por meio de próteses e tratamentos mais acessíveis e inteligentes.<br>